{% extends "layoutblog.html.twig" %}


{% block body %}

  <h1>Mon blog</h1>
  <h2>Publier un commentaire</h2>
  <form class="" action="commentaire.php?idFilm={{GET.idFilm}}" method="post">
    <fieldset>
      <legend>Commentaire</legend>
      <label>* Pseudo : </label> <br>
      <input type="text" name="auteur"> </br>
      <label>* Commentaire :</label></br>
      <textarea rows="3" name="contenu"></textarea> </br>
      <input type="submit" value="Publier">
      {% if POST.auteur is empty or POST.contenu is empty %}
        <p>* Champs obligatoires</p>
      {% else %}
        {{OCommentaire.add_commentaire(preparation,GET.idFilm,POST.auteur,POST.contenu)}}
      {% endif %}
    </fieldset>
  </form>

  <h2>Liste des films</h2>

  <div class="film">
    {% for film in films %}
      {% if film.id == GET.idFilm %}
        <h2><b>{{film.titre}}</b> - <i>Sortie le {{film.dateSortie}} </i> - Réalisé par {{film.prenom}} {{film.nom}} </h2>
        <div class="recapFilm">
          <p><b>Genre : </b> {{film.genre}}</p>
          <p><b>Acteurs : </b>
          {% for acteur in acteurs %}
              {% if acteur.idFilm == film.id %}
                {{acteur.prenom}} {{acteur.nom}},
              {% endif %}
          {% endfor %}...</p>
          <p><b>Résumé : </b> {{film.resume}}</p>
          <a href="index.php">Retour à la liste des films</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Commentaires</h2>
  <div class="film">
    {% for commentaire in commentaires %}
      {% if commentaire.idFilm == GET.idFilm %}
        <h2><b>{{commentaire.auteur}}</b> - <i>le {{commentaire.datePost}}</i></h2>
        <div class="recapFilm">
          <p>{{commentaire.contenu}}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>


{% endblock %}
